<section class="container mx-auto m-7">
    
    <div class="m-7 flex items-center justify-arround ">

    <div class=" m-10 p-10 w-full text-center">
        <h1 class="font-semibold text-slate-600 italic text-4xl py-6">Our Fresh Newly Launched items</h1>
        <h1 class="text-6xl font-bold text-green-400 ">Go for it !!!</h1>
    </div>

    <div class="w-full">
    <img
      src="/images/others/Bannerop.JPG"
      alt=""
      class="h-fit w-8/12 rounded-2xl"
    />
    <h1 class="text-3xl font-bold text-gray-400  italic mt-5">Fried Rolls ( <span class="text-red-400">With Extra Cheese</span> ) </h1>
  </div>

 </div>
</section>

<!-- menu section -->

<section class="menu container mx-auto p-8">
  <h1 class="text-3xl font-bold mb-8 text-red-700 italic">Our Other Fantastic Menus</h1>

  <div class="grid grid-cols-5 col-gap-14 row-gap-16">
    <% others.forEach(function(other){ %>

    <div class="w-72 my-3 rounded-sm bg-green-100 gap-x-2">
      <img
        src="/images/others/<%= other.image%>"
        alt=""
        class="h-40 mb-4 mx-auto my-3 rounded-full"
      />
      <div class="text-center">
        <h2 class="mb-4 text-lg"><%= other.name%></h2>
        <span class="size text-xs py-1 px-4 rounded-full uppercase"
          ><%= other.size%></span
        >
        <div class="flex items-center justify-around my-6">
          <span class="text-lg font-bold">₹ <%= other.price%>/-</span>
          <button
            data-pizza="<%= JSON.stringify(other)%>"
            class="add-to-cart px-6 py-1 flex items-center font-bold"
          >
            <span>+</span>
            <span class="mx-4">Add</span>
          </button>
        </div>
      </div>
    </div>

    <% }) %>
  </div>
</section>

<!-- banner section  -->

<section class="hero py-16 pl-14 pr-12 mx-auto container">
  <div class="flex items-center justify-between mx-4 px-4">
    <img
      src="/images/banners/Home_au_20201029.jpg"
      alt=""
      class="rounded-lg w-6/12 mr-3"
    />

    <img
      src="/images/banners/Dominos_Mobi_Home_20210503.jpg"
      alt=""
      class="rounded-lg w-6/12 "
    />
  </div>
</section>



<section class="hero py-16 pl-14 pr-12 mx-auto container">
  <div class=" flex items-center justify-between mx-4 px-4">
    <img
      src="/images/banners/Home_airtel_30082020.jpg"
      alt=""
      class="rounded-lg w-6/12 mr-3"
    />
    <img
      src="/images/banners/amazon_home_20210412.jpg"
      alt=""
      class="rounded-lg w-6/12"
    />
  </div>
</section>